@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply bg-off-white text-black dark:bg-black dark:text-white;
}
@layer base {
	.input {
		@apply rounded-md border-[0.5px] border-purple text-[16px];
	}

	h1 {
		@apply font-spartan text-2xl font-bold;
	}
	@font-face {
		font-family: League Spartan;
		src:
			local('League Spartan'),
			url('/fonts/LeagueSpartan-VariableFont_wght.ttf') format('truetype');
		font-display: swap;
	}
	@font-face {
		font-family: DM Sans;
		src:
			local('DM Sans'),
			url('/fonts/DMSans-VariableFont_wght.ttf') format('truetype');
		font-display: swap;
	}

	.gradient-animation {
		background: linear-gradient(45deg, #d0577b, #4b4a78);
		background-size: 200% 200%;
		animation: gradient 15s cubic-bezier(0.075, 0.82, 0.165, 1) infinite;
		height: 100dvh;
	}
	@keyframes gradient {
		0% {
			background-position: 0% 50%;
		}
		50% {
			background-position: 100% 50%;
		}
		100% {
			background-position: 0% 50%;
		}
	}
}
