@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply bg-off-white text-black dark:bg-black dark:text-white;
}
@layer base {
	.input {
		@apply rounded-md border-[1.5px] border-purple text-[16px];
	}
	@font-face {
		font-family: League Spartan;
		src:
			local('League Spartan'),
			url('/fonts/LeagueSpartan-VariableFont_wght.ttf') format('truetype');
		font-display: swap;
	}
	@font-face {
		font-family: DM Sans;
		src:
			local('DM Sans'),
			url('/fonts/DMSans-VariableFont_wght.ttf') format('truetype');
		font-display: swap;
	}
}
