@tailwind base;
@tailwind components;
@tailwind utilities;
body {
	@apply bg-light-grey-01 text-off-black;
}
.dark body {
	@apply bg-grey-01 text-off-white;
}
@layer base {
	.gradient-animation {
		background-size: 125% 125%;
		animation: gradient 10s cubic-bezier(0.075, 0.82, 0.165, 1) infinite;
	}
	@keyframes gradient {
		0% {
			background-position: 0% 50%;
		}
		50% {
			background-position: 100% 50%;
		}
		100% {
			background-position: 0% 50%;
		}
	}

	input:-webkit-autofill,
	input:-webkit-autofill:hover,
	input:-webkit-autofill:focus,
	input:-webkit-autofill:active {
		-webkit-background-clip: text;
		-webkit-text-fill-color: #f2f2f2;
		transition: background-color 5000s ease-in-out 0s;
		box-shadow: '0 0 0 30px #525252 inset !important ';
	}
	/* 
	input:-webkit-autofill,
	input:-webkit-autofill:hover,
	input:-webkit-autofill:focus,
	input:-webkit-autofill:active {
		-webkit-background-clip: text;
		-webkit-text-fill-color: #f2f2f2;
		transition: background-color 5000s ease-in-out 0s;
		box-shadow: inset 0 0 20px 20px #23232329;
	} */

	h1 {
		@apply text-5xl font-bold leading-[1];
	}
	h2 {
		@apply text-xl font-bold;
	}

	@font-face {
		font-family: League Spartan;
		src:
			local('League Spartan'),
			url('/fonts/LeagueSpartan-VariableFont_wght.ttf') format('truetype');
		font-display: swap;
	}
	@font-face {
		font-family: DM Sans;
		src:
			local('DM Sans'),
			url('/fonts/DMSans-VariableFont_wght.ttf') format('truetype');
		font-display: swap;
	}
}
